# Server Configuration
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://ashmitabarnwalds27:GTLBeKLBNgkGYXHQ@demo.tu6wtkp.mongodb.net/portfolio?retryWrites=true&w=majority&appName=demo

# Email Configuration (Choose one method)

# Method 1: SMTP (Gmail, Outlook, etc.)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ashmitabarnwal53@gmail.com
SMTP_PASS=yqbzaommygvkvoma

# Method 2: SendGrid (Alternative)
# SENDGRID_API_KEY=your-sendgrid-api-key

# Contact Email
CONTACT_TO_EMAIL=ashmitabarnwal53@gmail.com

# CORS Configuration
FRONTEND_URL=http://localhost:5173

# Security (Optional)
JWT_SECRET=mysupersecretjwtkey123456
